# Usługa uczenia maszynowego w Microsoft SQL Server

Usługa uczenia maszynowego w Microsoft SQL Server to funkcja programu, która umożliwia uruchamianie skryptów w językach Python i R bezpośrednio z bazy danych. Dzięki temu, możliwe jest wykorzystanie różnych narzędzi i bibliotek do przeprowadzania analiz predykcyjnych i uczenia maszynowego na danych zgromadzonych w bazie bez konieczności przenoszenia ich poza SQL Server. Usługa ta jest przydatna do automatyzacji i usprawnienia procesów związanych z uczeniem maszynowym.

Standardowo obraz dockera Microsoft SQL Server __nie posiada__ serwisu SQL Machine Learning, aby stworzyć taki kontener trzeba posłużyć się tym przykładem [dockerfile'a](https://github.com/Microsoft/mssql-docker/tree/master/linux/preview/examples/mssql-mlservices).

# Skrypty Python w SQL Server

[**Opis języka Python**](https://docs.python.org/3/tutorial/index.html)

Python jest zainstalowany niezależnie w systemie Microsoft SQL Server w ramach SQL Machine Learning.

Skrypt w języku Python można uruchomić przez przekazanie go jako argument do procedury składowanej [sp\_execute\_external\_script](https://learn.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-execute-external-script-transact-sql?view=sql-server-ver16). Ta procedura systemowa pozwala na uruchomienie środowiska Pythona w kontekście uczenia maszynowego SQL, przesyłanie danych do Pythona, zarządzanie sesjami użytkownika Pythona i zwracanie wyników do klienta.

## Zezwolenie na działanie procedury sp\_execute\_external\_script

In [ ]:
sp_configure 'external scripts enabled', 1;
RECONFIGURE;

## Przykłady użycia skryptów Python w SQL

### Parametry procedury sp\_execute\_external\_script:

**@language** – język. Przyjmowane wartości to R, Python i język zdefiniowany za pomocą [CREATE EXTERNAL LANGUAGE](https://learn.microsoft.com/en-us/sql/t-sql/statements/create-external-language-transact-sql?view=sql-server-ver16). \
**@script** – treść skryptu. Cały skrypt musi być zapisany jako tekst Unicode. Można również przekazać tekst przez zmienną typu nvarchar.

In [61]:
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'
import sys
print("Python version:", sys.version)
'

In [62]:
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'
ls = [1, 2.0, 3, "abc"]

for element in ls:
    print(element)
'

Uczenie maszynowe w systemie Microsoft SQL Server w zakresie obsługi języka Python opiera się na pakiecie pandas. Podstawowy obiekt, poprzez który przekazywane są dane do i z Pythona to ramka danych (DataFrame), dlatego dane wejściowe muszą być tabelaryczne, np. utworzone zdaniem SELECT. Dane wyjściowe również muszą być przedstawione w postaci tego typu obiektu.

**@input\_data\_1 = N'input\_data\_1'** - Dane wejściowe wykorzystywane przez zewnętrzny skrypt w postaci zapytania Transact-SQL.  
**@input\_data\_1\_name = N'input\_data\_1\_name'** - Nazwa zmiennej używanej do reprezentowania zapytania zdefiniowanego przez @input\_data\_1. Domyślną wartością jest **InputDataSet**.

**@output\_data\_1\_name = N'output\_data\_1\_name'** - Nazwa zmiennej w zewnętrznym skrypcie, która zawiera dane zwracane do serwera SQL po zakończeniu wywołania procedury składowanej. Domyślną wartością jest **OutputDataSet**.

**Uwaga** Notebook wyświetla stdout z procedury w jednej linii, dla bardziej skomplikowanego wyjścia poleca się użycie zwykłego querry.

In [63]:
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'OutputDataSet = InputDataSet'
    , @input_data_1 = N'SELECT 1, N''ABC'''

(No column name),(No column name)
1,ABC

In [64]:
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'
import pandas as pd
import matplotlib.pyplot as plt

if isinstance(InputDataSet, pd.DataFrame):
    print("InputDataSet is a DataFrame")
'
    , @input_data_1 = N'SELECT 1, N''ABC'''

**WITH RESULTS SETS** - klauzula pozwala na określenie schematu tabeli, która jest zwracana przez środowisko SQL. Ten schemat musi pasować do ramki danych, która została przesłana z środowiska wykonawczego i zawierać typy danych z języka SQL.

In [65]:
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'OutputDataSet = InputDataSet'
    , @input_data_1 = N'SELECT 1, N''ABC'''
WITH RESULT SETS(([Number] INT, Text NVARCHAR(10)));
GO

Number,Text
1,ABC

In [66]:
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'SQL_out = SQL_in'
    , @input_data_1 = N'SELECT TOP 5 ProductID, ProductName, CategoryID FROM Northwind.dbo.Products'
    , @input_data_1_name = N'SQL_in'
    , @output_data_1_name = N'SQL_out'
WITH RESULT SETS((ProductID INT, ProductName NVARCHAR(40), CategoryID INT));
GO

ProductID,ProductName,CategoryID
1,Chai,1
2,Chang,1
3,Aniseed Syrup,2
4,Chef Anton's Cajun Seasoning,2
5,Chef Anton's Gumbo Mix,2

Pewne typy danych nie są wspierane, należy wówczas wykorzystać funkcję CAST, warto też zamieniać na właściwsze typy w wynikach za pomocą WITH RESULTS SETS.

In [67]:
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'OutputDataSet = InputDataSet'
    , @input_data_1 = N'SELECT ProductID, ProductName, UnitPrice FROM Northwind.dbo.Products;'

: Msg 39004, Level 16, State 20, Line 1
A 'Python' script error occurred during execution of 'sp_execute_external_script' with HRESULT 0x80004004.

: Msg 39019, Level 16, State 2, Line 1
An external script error occurred:

Unsupported input data type in column 'UnitPrice'.  Supported types: bit, tinyint, smallint, int, bigint, uniqueidentifier, real, float, char, varchar, nchar, nvarchar, varbinary, date, datetime, smalldatetime.
SqlSatelliteCall error: Unsupported input data type in column 'UnitPrice'.  Supported types: bit, tinyint, smallint, int, bigint, uniqueidentifier, real, float, char, varchar, nchar, nvarchar, varbinary, date, datetime, smalldatetime.

In [68]:
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'OutputDataSet = InputDataSet'
    , @input_data_1 = N'SELECT TOP 5 ProductID, ProductName, CAST(UnitPrice AS FLOAT) 
	FROM Northwind.dbo.Products; '
WITH RESULT SETS((ProductID INT, ProductName NVARCHAR(10), UnitPrice MONEY));
GO

ProductID,ProductName,UnitPrice
1,Chai,"18,00"
2,Chang,"19,00"
3,Aniseed Sy,"10,00"
4,Chef Anton,"22,00"
5,Chef Anton,"21,35"

Chcąc dodać dodatkowe parametry do skryptu zewnętrznego, należy określić ich nazwy i typy danych w parametrze **@params**.

In [69]:
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'print(a, b)'
    , @params = N' @a int, @b float'
    , @a = 5
    , @b = 2.0

In [ ]:
DROP PROCEDURE IF EXISTS ParamsExample
GO

CREATE PROCEDURE ParamsExample (
      @param1 INT
    , @param2 FLOAT
    )
AS
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'print(a, b)'
    , @params = N' @a int, @b float'
    , @a = @param1
    , @b = @param2
GO

In [73]:
EXEC ParamsExample 100, 50

Procedura może przyjmować tylko jeden zestaw danych wejściowych i zwracać tylko jeden zestaw danych wyjściowych. Jednakże, w kodzie Pythona, istnieje możliwość odwoływania się do innych zestawów danych. Dodatkowo, zestaw danych nie jest jedynym typem danych, które można zwrócić. W celu zwrócenia wartości z dowolnego parametru, można dodać słowo kluczowe OUTPUT. \
Wiecej informacji o parametrach można znaleźć w dokumnetacji [sp_execute_external_script](https://learn.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-execute-external-script-transact-sql?view=sql-server-ver15#arguments).

## Standardowe biblioteki Python w SQL Machine Learning
Listę zainstalowanych pakietów Pythona, w tym wersję, można wyświetlić przez poniższy skrypt:

In [ ]:
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'
import pkg_resources
import pandas as pd

dists = [str(d) for d in pkg_resources.working_set]
OutputDataSet = pd.DataFrame(dists)
'
WITH RESULT SETS(([Package] NVARCHAR(max)))
GO

### Pandas & Numpy
SQL Machine Learning, korzystające z języka Python, opiera się na pakiecie pandas, który jest bardzo przydatny do pracy z danymi tabelarycznymi. Głównym narzędziem przekazywania danych do i z Pythona jest ramka danych (DataFrame), która odpowiada tabeli z wieloma kolumnami. Pojedyncza kolumna ramki danych jest podobna do jednowymiarowej tablicy lub słownika, i nazywana jest serią (Series). W ramce danych pojedyncza wartość jest znana jako komórka (Cell) i dostępna jest przez indeks.

Numpy jest głównie wykorzystywane do obliczeń matematycznych z wieloma funkcjami statystycznymi.

### Przykłady z pandas Series
Najlepiej kwerendy uruchomić we zwykłym querry.

In [75]:
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'
import pandas as pd

a = 1
b = 2
c = a/b
d = a*b

s = pd.Series([c,d,(2,3),"abc"])
print(s)
'

In [76]:
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'
a = 1
b = 2
c = a/b
s = pandas.Series(c, index =["simple math example 1", "simple math example 2", "simple math example 3"])
print(s)
'

[Dokumentacja pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html)

### Liczby pseudolosowe w numpy
Losowe próbki z rozkładu normalnego [numpy.random.normal](https://numpy.org/doc/stable/reference/random/generated/numpy.random.normal.html)

In [ ]:
CREATE OR ALTER PROCEDURE MyPyNorm (
      @size INT
    , @mean INT
    , @scale INT
    )
AS
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'
import numpy
import pandas
OutputDataSet = pandas.DataFrame(numpy.random.normal(size=size, loc=mean, scale=scale));
'
    , @params = N' @size int, @mean int, @scale int'
    , @size = @size
    , @mean = @mean
    , @scale = @scale
WITH RESULT SETS(([Density] FLOAT NOT NULL));
GO

In [78]:
EXEC MyPyNorm 5, 50, 10

Density
"64,44368652331016"
"50,35221807398348"
"41,30177472001347"
"51,84385652810873"
"47,69796004852747"

Losowe próbki z liczb całkowitych [numpy.random.randint](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html)

In [ ]:
CREATE OR ALTER PROCEDURE MyPyRandInt (
        @size INT,
        @low INT,
	    @high INT
    )
AS
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'
import pandas as pd
import numpy as np
values = np.random.randint(low=low, high=high, size=size)
OutputDataSet = pd.DataFrame(values);
'
    , @params = N' @low int, @high int, @size int'
    , @low = @low
    , @high = @high
    , @size = @size
WITH RESULT SETS(([Number] INT NOT NULL));
GO

In [80]:
EXEC MyPyRandInt 5, 50, 100

Number
52
83
70
52
90

## Przykład użycia uczenia maszynowego w SQL Machine Learning

Użyjemy model [RandomForestClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html) do klasyfikacji win na podstawie analizy chemicznej w trzech rodzajach win.

In [ ]:
CREATE DATABASE winesql
GO

In [ ]:
USE winesql
GO

**1. Przygotowanie Tabeli przechowującej dane do trenowania**

In [ ]:
DROP TABLE IF EXISTS wine_data;
GO

CREATE TABLE wine_data (
    id INT NOT NULL IDENTITY PRIMARY KEY,
    Alcohol FLOAT NOT NULL,
    MalicAcid FLOAT NOT NULL,
    Ash FLOAT NOT NULL,
    AlcalinityOfAsh FLOAT NOT NULL,
    Magnesium FLOAT NOT NULL,
    TotalPhenols FLOAT NOT NULL,
    Flavanoids FLOAT NOT NULL,
    NonflavanoidPhenols FLOAT NOT NULL,
    Proanthocyanins FLOAT NOT NULL,
    ColorPntensity FLOAT NOT NULL,
    Hue FLOAT NOT NULL,
    ProteinConcentration FLOAT NOT NULL,
    Proline FLOAT NOT NULL,
    WineId INT NOT NULL
);

**2. Tabela przechowująca wytrenowany model (modele) – sam model musi być zserializowany i przechowywany w kolumnie typu varbinary(max)**

In [ ]:
DROP TABLE IF EXISTS wine_models;
GO

CREATE TABLE wine_models (
  model_name VARCHAR(50) NOT NULL DEFAULT('default model') PRIMARY KEY,
  model VARBINARY(MAX) NOT NULL
);
GO

**3. Wypełnienie tabeli wine_data danymi**

In [ ]:
CREATE OR ALTER PROCEDURE get_wine_dataset
AS
BEGIN
EXEC sp_execute_external_script @language = N'Python', 
@script = N'
from sklearn import datasets
import pandas as pd

wine = datasets.load_wine()
wine_data = pd.DataFrame(wine.data)
wine_data["WineId"] = wine.target
', 
@output_data_1_name = N'wine_data'
WITH RESULT SETS ((
    Alcohol FLOAT NOT NULL,
    MalicAcid FLOAT NOT NULL,
    Ash FLOAT NOT NULL,
    AlcalinityOfAsh FLOAT NOT NULL,
    Magnesium FLOAT NOT NULL,
    TotalPhenols FLOAT NOT NULL,
    Flavanoids FLOAT NOT NULL,
    NonflavanoidPhenols FLOAT NOT NULL,
    Proanthocyanins FLOAT NOT NULL,
    ColorPntensity FLOAT NOT NULL,
    Hue FLOAT NOT NULL,
    ProteinConcentration FLOAT NOT NULL,
    Proline FLOAT NOT NULL,
    WineId INT NOT NULL
    ));
END;
GO

In [ ]:
INSERT INTO wine_data
EXEC dbo.get_wine_dataset;

In [86]:
SELECT TOP 5 * FROM wine_data

id,Alcohol,MalicAcid,Ash,AlcalinityOfAsh,Magnesium,TotalPhenols,Flavanoids,NonflavanoidPhenols,Proanthocyanins,ColorPntensity,Hue,ProteinConcentration,Proline,WineId
1,"14,23","1,71","2,43","15,6",127,"2,8","3,06","0,28","2,29","5,64","1,04","3,92",1065,0
2,"13,2","1,78","2,14","11,2",100,"2,65","2,76","0,26","1,28","4,38","1,05","3,4",1050,0
3,"13,16","2,36","2,67","18,6",101,"2,8","3,24","0,3","2,81","5,68","1,03","3,17",1185,0
4,"14,37","1,95","2,5","16,8",113,"3,85","3,49","0,24","2,18","7,8","0,86","3,45",1480,0
5,"13,24","2,59","2,87",21,118,"2,8","2,69","0,39","1,82","4,32","1,04","2,93",735,0

**4. Utworzenie modelu i wytrenowanie modelu**

In [ ]:
CREATE OR ALTER PROCEDURE generate_wine_model (
        @estimators INT,
        @depth INT,
        @trained_model VARBINARY(max) OUTPUT
)
AS
BEGIN
EXEC sp_execute_external_script @language = N'Python'
        , @script = N'
import pickle
from sklearn.ensemble import RandomForestClassifier

# model
print("RandomForest estinamtors:", estimators, "depth:", depth)
random_forest = RandomForestClassifier(n_estimators=estimators, max_depth=depth)

# target
target = wine_data["WineId"]

wine_data.drop(labels=["WineId", "id"], axis=1, inplace=True)

random_forest.fit(wine_data, target)

trained_model = pickle.dumps(random_forest)
'
        , @input_data_1 = N'SELECT * from wine_data'
        , @input_data_1_name = N'wine_data'
        , @params = N'@estimators INT, @depth INT, @trained_model varbinary(max) OUTPUT'
        , @estimators = @estimators
        , @depth = @depth
        , @trained_model = @trained_model OUTPUT;
END;
GO

In [88]:
DECLARE @model VARBINARY(max);

EXEC generate_wine_model @estimators=2, @depth=2, @trained_model=@model OUTPUT;

INSERT INTO wine_models VALUES (N'RandomForest', @model)

In [89]:
SELECT * FROM wine_models

**5. Predykcja**

In [98]:
CREATE OR ALTER PROCEDURE predict_wine (@model VARCHAR(100))
AS
BEGIN
    DECLARE @nb_model VARBINARY(max) = (
            SELECT model
            FROM wine_models
            WHERE model_name = @model
            );

    EXECUTE sp_execute_external_script @language = N'Python'
        , @script = N'
import pickle
import pandas as pd

wine_model = pickle.loads(nb_model)

target = wine_data["WineId"]
wine_data.drop(labels=["WineId", "id"], axis=1, inplace=True)

OutputDataSet = pd.DataFrame()
OutputDataSet["WineId"] = target
OutputDataSet["Predicted"] = wine_model.predict(wine_data)
'
        , @input_data_1 = N'SELECT TOP 20 * FROM wine_data ORDER BY NEWID()'
        , @input_data_1_name = N'wine_data'
        , @params = N'@nb_model varbinary(max)'
        , @nb_model = @nb_model
    WITH RESULT SETS((
        "WineId" INT,
        "WineId.Predicted" INT
        ));
END;
GO

In [101]:
EXECUTE predict_wine 'RandomForest';
GO

WineId,WineId.Predicted
0,0
1,1
2,1
1,1
0,0
2,2
1,1
2,2
2,2
2,2
2,2
1,0
0,0
2,2
0,0
2,2
0,0
0,0
1,1
2,2

# SQL in Jupyter Notebooks
### Prerequisites
**Installing Python packages**
```
pip install ipython-sql
pip install pyodbc
```
[ipython-sql documentation](https://pypi.org/project/ipython-sql/)

**SQL driver installation**
[ODBC Driver 18 for SQL Server](https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver16)
(Tested on MS SQL Server 2022)

### Connection to SQL Server
**%sql** for single-line queries.
**%%sql** for multi-line queries.
The **<<** operator captures query results in a local variable.

In [ ]:
# Loading magic method sql
%load_ext sql

# Connection
user = 'SA'
password = 'dockersql#1' #'YourPassword'
server = 'localhost'
port = '1433'
database = 'master'
driver = 'odbc+driver+18+for+sql+server'

connection_string = f'mssql+pyodbc://{user}:{password}@{server}:{port}/{database}?encrypt=no&driver={driver}'

%sql $connection_string

In [ ]:
# Test connection
%sql SELECT * FROM sys.databases